@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;
    --font-default: 'Montserrat';
    --font-heading: 'Poppins';
    --color-default: #FFF;
    --color-secundary: #000;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-default);
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.4rem;
    width: 2.4rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 10;
    cursor: pointer;
}

.linha {
    height: .5rem;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 2px #000;

}

.menu {
    padding: 2rem;
    height: 30rem;
    width: 20rem;
    position: fixed;
    right: -20rem;
    background-color: #480c66;
    z-index: 9;
    transition: right 1s;
    color: white;
    border-radius: 10px;
}

.menu ul {
    list-style: none;
    margin-top: 6vh;
}

.show-menu {
    right: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    background-size: cover;
    background-image: url('../images/hero.jpg');
    color: var(--color-default);
    padding: 21rem 11rem;
    gap: 2rem;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--font-heading);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.4rem;
}

p {
    font-size: 3rem;
}

span {
    font-size: 2rem;
    position: absolute;
    bottom: 1vh;
    right: 5vh;
}

section {
    padding: 8.6rem;
}

.botao {
    padding: 1.4rem 11rem;
    font-size: 3rem;
    color: var(--color-default);
    background: linear-gradient(270deg, #41295a 0%, rgba(20, 30, 48, 0) 0%, #0F0C29 0.01%, #2F0743 50.52%);
    border-radius: 125px;
    text-decoration: none;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


#secao-jogos {
    background-color: var(--color-secundary);
    color: var(--color-default);
}

.size-img {
    width: 800px !important;
    height: 450px !important;
}

#secao-jogos ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    flex-direction: column;
}

.card {
    position: relative;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.padding-style {
    padding: 0 5%;
}

.card:hover .card-image {
    opacity: 20%;
}

.card:hover .card-info {
    opacity: 100%;
}

.card-image img {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-image {
    transition: opacity 0.4s;
    display: flex;
}

.card-info {
    position: absolute;
    bottom: 0%;
    opacity: 0%;
    transition: opacity 0.4s ease-in-out, bottom 0.5s;
}

#secao-orcamento {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: var(--color-secundary);
}

#secao-orcamento form {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    padding: 3.5rem 2.5rem;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
}


#secao-orcamento output {
    grid-column: 2;
}

#secao-orcamento h3 {
    background-color: rgb(72, 0, 241);
    top: -24%;
    border-radius: 10px !important;
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    padding: 8px;
    font-size: 3rem;
}

input[type=number] {
    padding: 0.5rem;
    background-color: var(--color-secundary);
    color: var(--color-default);
    border: none;
}

/* Slideshow container */
.slideshow-container {
   width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.titulo {
    font-weight: 900;
    font-family: var(--font-heading);
    font-size: 4rem;
    text-align: center;
}

.input {
    font: inherit;
    margin: 0;
    margin-left: auto;
    margin-right: 3%;
    width: 60%;
    padding: 2px 8px;
    border-radius: 6px;
}